.service-description {
  @include container-position;
  width: 100%;
  max-width: 1143px;
  height: 100%;
  max-height: 600px;
  display: flex;
  margin-top: 182px;

  &__greeting {
    @include font-paragraph(14px, normal, normal, 26px, -1px);
    display: block;
    text-align: center;
    width: 101px;
    height: 26px;
    background-color: $yellow;
    border-radius: 25px;
    color: $font-header-color;
  }

  &__header {
    width: 430px;
    height: 480px;
  }

  &__link {
    @include font-paragraph(10px, normal, bold, 12px, 1px);
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 40px;
    width: 160px;
    height: 40px;
    background: $green;
    border-radius: 25px;
  }

  &__title {
    @include font-paragraph(36px, normal, bold, 44px, -1px);
    color: $font-header-color;
  }

  &__photo-box {
    display: flex;
    flex-flow: column wrap;
    max-height: 600px;
    max-width: 658px;
    margin: 0;

    :first-child {
      margin-bottom: 15.5px;
      margin-right: 6.5px;
    }

    :last-child {
      margin-left: 6.5px;
      margin-top: 15.5px;
    }

  }

  &__photo {
    overflow: hidden;
  }

  &__photo--small {
    width: 322px;
    height: 232px;
  }

  &__photo--big {
    width: 322px;
    height: 337px;
  }

  &__image {
    height: 100%;
  }

  &__paragraph {
    @include font-paragraph(14px, normal, 300, 36px, -1px);
    color: $font-paragraph-color;
  }

}